{% extends 'base.html' %}

{% block content %}

<h2>Agregar nuevo producto</h2>
    <div>
        <a href="{{ url_for('main.dashboard_general') }}" class="btn btn-primary">Volver</a>
    </div>
    
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="container-fluid py-4">
    <div class="form-container">
        <h2 class="form-title text-center">Registro de Producto</h2>
        
       
        <form method="POST" id="form-agregar" autocomplete="off"> <!--el autocomplete=off para evitra que google autocomplete con valores pasados-->
            {{ form.csrf_token }}
            <div class="row">
                <!-- Información básica del producto -->
                <div class="col-md-4">
                    <div class="section-title">Información Básica</div>
                    <div class="mb-3">
                        <label class="form-label">Nombre</label>
                        {{ form.nombre(class="form-control") }}
                        <!--validacion perteciente que viene desde el backend-->
                        {% if form.nombre.errors %}
                            <div class="text-danger">
                                {{ form.nombre.errors[0] }}
                            </div>
                        {% endif %}
                        <!--<input type="text" name="nombre" class="form-control" required> -->
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Descripción</label>
                        {{ form.descripcion(class="form-control") }}
                        <!-- <textarea name="descripcion" class="form-control" rows="3"></textarea> -->
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Código de Barras</label>
                        {{ form.codigo(class="form-control", id="codigo") }}
                        {% if form.codigo.errors %}
                            <div class="text-danger">
                                {{ form.codigo.errors[0] }}
                            </div>
                        {% endif %}
                        <!--<input type="text" name="codigo_barras" class="form-control">-->
                    </div>
                </div>
                
                <!-- Información de precios y stock -->
                <div class="col-md-4">
                    <div class="section-title">Precios y Stock</div>
                    <div class="mb-3">
                        <label class="form-label">Precio Costo</label>
                        <div class="input-group">
                            <span class="input-group-text">$</span>
                            {{ form.precio_costo(class="form-control") }}
                            {% if form.precio_costo.errors %}
                                <div class="text-danger">
                                    {{ form.precio_costo.errors[0 ]}}
                                </div>
                            {% endif %}
                            <!-- <input type="number" step="0.01" name="precio_costo" class="form-control" required> -->
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Precio Venta</label>
                        <div class="input-group">
                            <span class="input-group-text">$</span>
                            {{ form.precio_venta(class="form-control") }}
                            {% if form.precio_venta.errors %}
                                <div class="text-danger">
                                    {{ form.precio_venta.errors[0] }}
                                </div>
                            {% endif %}
                            <!-- <input type="number" step="0.01" name="precio_venta" class="form-control" required> -->
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Impuestos (%)</label>
                        <div class="input-group">
                            {{ form.impuestos(class="form-control") }}
                            <!-- <input type="number" step="0.01" name="impuestos" class="form-control"> -->
                            <span class="input-group-text">%</span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Stock Actual</label>
                        {{ form.stock_actual(class="form-control") }}
                        <!-- <input type="number" name="stock_actual" class="form-control"> -->
                    </div>
                </div>
                
                <!-- Clasificación y ubicación -->
                <div class="col-md-4">
                    <div class="section-title">Clasificación y Ubicación</div>
                    <div class="mb-3">
                        <label class="form-label">Categoría</label>
                        {{ form.categoria(class="form-select")}}
                        {% if form.categoria.errors %}
                            <div class="text-danger">
                                {{ form.categoria.errors[0]}}
                            </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Proveedor</label>
                        {{ form.proveedor(class="form-select") }}
                        <!-- <select name="proveedor_id" class="form-select">
                            <option value="">Seleccione un proveedor</option>
                            {% for prov in proveedores %}
                                <option value="{{ prov.id }}">{{ prov.nombre }}</option>
                            {% endfor %}
                        </select> -->
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Talle</label>
                        {{ form.talle(class="form-select") }}
                        <!-- <select name="talle_id" class="form-select">
                            <option value="">Seleccione un talle</option>
                            {% for t in talles %}
                                <option value="{{ t.id }}">{{ t.nombre }}</option>
                            {% endfor %}
                        </select> -->
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Sucursal</label>
                        {{ form.sucursal(class="form-select") }}
                        {% if form.sucursal.errors %}
                            <div class="text-danger">
                                {{ form.sucursal.errors[0] }}
                            </div>
                        {% endif %}
                        <!-- <select name="sucursal_id" class="form-select">
                            <option value="">Seleccione una sucursal</option>
                            {% for suc in sucursales %}
                                <option value="{{ suc.id }}">{{ suc.nombre }}</option>
                            {% endfor %}
                        </select> -->
                    </div>
                </div>
            </div>
            
            <div class="row mt-4">
                <div class="col-12 text-center">
                    <button type="submit" class="btn btn-primary px-5" id="btn-submit">Guardar Producto</button>
                    <button type="reset" class="btn btn-outline-secondary ms-2">Limpiar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- MODAL -->
<div class="modal fade" id="confirmarCodigoModal" tabindex="-1" aria-labelledby="confirmarCodigoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">¿Generar código de barras?</h5>
        </div>
        <div class="modal-body">
          Este producto no tiene un código de barras ingresado.<br>
          ¿Deseás generar uno automáticamente?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" id="confirmar-generacion">Sí, generar</button>
        </div>
      </div>
    </div>
  </div>

<!-- <script src="{{ url_for('static', filename='../static/agregar_producto.js') }}"></script> -->


{% endblock %}