<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base Template Flask</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        main {
            flex: 1;
        }
    </style>
</head>
<body>
    <!-- Header -->
    <header class="bg-dark text-white p-3">
        <div class="container text-center">
            <h1>Header</h1>
        </div>
    </header>

    {% block content %}
    {# Template inserted here#}
    {% endblock %}


    <!-- Footer -->
    <footer class="bg-dark text-white p-3 mt-auto">
        <div class="container text-center">
            <p class="mb-0">Footer</p>
        </div>
    </footer>

    <!-- Bootstrap JS Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>